<div class="container-fluid fill" >
  <div class="row">
    <div id="menu" class="col-md-3 col-lg-2 d-none d-md-inline">

      <ul>
        <li class="menu-logo"></li>

        <li class="menu-item">
          <a href="#">
            <i class="icon-layers icons"></i>
            Work Flow
            <span class="menu-item-down"><i class="fa fa-angle-down"></i></span>
          </a>

          <ul>
            <li class="menu-subitem">
              <a href="#">
                Solic. Compras
              </a>
            </li>
            <li class="menu-subitem">
              <a href="#">
                Descontos
              </a>
            </li>
            <li class="menu-subitem">
              <a href="#">
                Multas
              </a>
            </li>
            <li class="menu-subitem">
              <a href="#">
                Avarias Frota
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div id="conteudo" class="col-sm-12 col-md-9 col-lg-10">

      <div id="navbar" class="navbar-shadow row">
        <div id="navbar-toogle" class="col-sm-2 col-2">
          <a href="#"><i class="fa fa-bars"></i></a>
        </div>

        <div id="navbar-botoes" class="col-sm-10 col-10">
          <span>Thiano Pereira Lima</span>
          <i class="fa fa-angle-down"></i>
        </div>
      </div>

      <div id="conteudo-rotas" class="col-sm-12">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Iinicio</a></li>
            <li class="breadcrumb-item"><a href="#">Work Flow</a></li>
            <li class="breadcrumb-item active" aria-current="page">Solic. de Compras</li>
          </ol>
        </nav>

      </div>
    </div>
  </div>
</div>
